@import "tailwindcss";

@plugin "daisyui" {
  themes: nord --default, abyss --prefersdark, dark, light;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


